<nav class="site-header sticky-top py-1" *ngIf="authenticationService.isUserLoggedIn()">
  <div class="container d-flex flex-column flex-md-row justify-content-between" *ngIf="this.authenticationService.getLoggedInUserName() !== 'admin'">
    <a class="py-2" routerLink="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
           stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
           viewBox="0 0 24 24" focusable="false"><title>Product</title>
        <circle cx="12" cy="12" r="10"/>
        <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
      </svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/list-cars">Car List</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/list-agents" routerLinkActive="active">Agency List</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/list-locations" routerLinkActive="active">Location List</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/list-reservations" routerLinkActive="active">Reservation
      List</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/list-customer" routerLinkActive="active">Customer
      Information</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/logout" (click)="handleLogout()" routerLinkActive="active">Logout</a>
  </div>
  <div class="container d-flex flex-column flex-md-row justify-content-between" *ngIf="this.authenticationService.getLoggedInUserName() === 'admin'">
    <a class="py-2" routerLink="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
           stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
           viewBox="0 0 24 24" focusable="false"><title>Product</title>
        <circle cx="12" cy="12" r="10"/>
        <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
      </svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/list-cars">Car List</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/admin">Car Addition</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="/logout" (click)="handleLogout()" routerLinkActive="active">Logout</a>
  </div>
</nav>
